<div class="app">
  <div class="home-title">
    <h1>Music Genre Search</h1>
    <div *ngIf="!showTracks && !loading">
      <span class="app-description">
        Select a genre to search for songs in that genre!
      </span>
    </div>
    <div *ngIf="showTracks || loading">
      <button
        class="btn btn-default btn-md back-button"
        (click)="backToGenres()"
      >
        <span class="genre-text">
          <img
            class="back-arrow-img"
            src="app\images\back_arrow.png"
            alt="back arrow"
          />
          Back to genres
        </span>
      </button>
    </div>
  </div>

  <div>
    <div *ngIf="!showTracks && !loading">
      <div class="genres">
        <div class="genre" *ngFor="let genre of genres; let i = index">
          <button
            class="btn btn-default btn-md genre-button"
            [ngStyle]="{'background-color': genre.genre_color}"
            (click)="getTracks(genre.genre_id)"
          >
            <span class="genre-text">{{genre.genre_title}}</span>
          </button>
        </div>
      </div>
      <div class="show-more" *ngIf="currentGenrePage < totalGenrePages">
        <button
          class="btn btn-default btn-lg show-more-btn"
          (click)="getMoreGenres()"
        >
          <span class="genre-text">Show more</span>
        </button>
      </div>
    </div>
    <div *ngIf="showTracks" class="tracks">
      <div
        class="track"
        *ngFor="let track of tracks; let i = index"
      >
        <img
          src={{track.track_image_file}}
          class="track-img"
          alt="track_img"
        />
        <p class="track-title">
          {{track.track_title}}
        </p>
        <p>
          <a
          class="track-link"
          href={{track.artist_url}}
          target="_blank"
          >
            {{track.artist_name}}
          </a>
        </p>
        <p>
          <a
            class="track-link"
            href={{track.album_url}}
            target="_blank"
          >
            {{track.album_title}}
          </a>
        </p>
      </div>
    </div>
    <div *ngIf="loading">
      <p>Loading...</p>
    </div>
  </div>
</div>
